* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

header, footer {
    background-color: lightgreen;
}

header {
    display: flex;
    flex-direction: column;

    flex: 2 1 auto;
}

main {
    background-color: lightseagreen;
    height: 600px;

    flex: 4 1 auto;
    display: flex;
    flex-direction: column;
}

footer {
    flex: 1 1 auto;
}

.nav-bar {
    display: flex;
    flex-direction: row;

    background-color: lightpink;
}

.nav-links {
    flex: 1 1 auto;
    list-style: none;

    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: lightgrey;
}

a {
    text-decoration: none;
}

.logo {
    flex: 1 1 auto;

    display: flex;
    justify-content: center;
    background-color: lightskyblue;
}

.introduction {
    font-size: 20px;
    display: flex;
}

.beginning {
    font-size: 48px;
}

.geralt {
    width: 400px;
    height: 200px;
    object-fit: contain;
}

.page-title {
    flex: 0 0 min-content;
}

.schools {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 4 1 auto;

    /* height: 100%; */
    background-color: rgba(100, 0, 0, 0.5);
}

.medallion {

    background-color: brown;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.wolf {
    order: 3;
    align-self: flex-end;
}

.cat {
    order: 2;
    align-self: center;
}

.griffin {
    order: 4;
    align-self: center;
}

.viper {
    order: 1;
    align-self: flex-start;
}

.bear {
    order: 5;
    align-self: flex-start;
}
